@import '../../../../Assets/Fonts/RockSalt.css';
@import '../../../../Assets/Fonts/Schoolbell.css';

.modal-box {
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0.2);
}


.title{
    position: absolute;
    left: 20vw;
    border-top-left-radius: 68px;
    border-top-right-radius: 68px;
    width:60vw;
    top:10vh;
    height:23vh;
    z-index: 2;
    background-color:#028790;
    color: azure;
    font-family: "RockSalt";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
}


.wrapper {
    position: absolute;
    display:flex;
    justify-content:center;
    align-items:center; 
    left: 20vw;
    border-radius: 68px;
    width:60vw;
    height:80vh;
    background-color:#C4C4C4;
    z-index: 1;   
}

.white-box {
    display:flex;
    flex-direction: column;
    border-radius: 68px;
    width:54vw; 
    height:72vh;
    background-color:#FFF;
}

.field-name {
  color: #000;
  width: 40vw;
  font-family: "Schoolbell";
  font-size: 6vh;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  z-index: 5;
}

.title-input {
    margin-top: 20vh;
    display: flex;
    width: 100%;
    z-index: 4;
    flex-direction: column;
}

.desc-input {
    display: flex;
    width: 100%;
    z-index: 4;
    flex-direction: column;
}

.text-area {
    resize: none; 
    background-color:#C4C4C4;
    outline: none;
    width: 80%;
    height: 8vh;
    font-size: 5vh;
    text-align: center;
    font-family: "Schoolbell";
    margin: 0 auto;
}

.big-text-area {
    resize: none; 
    background-color:#C4C4C4;
    outline: none;
    width: 80%;
    height: 15vh;
    font-size: 5vh;
    text-align: center;
    font-family: "Schoolbell";
    margin: 0 auto;
}

.buttons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: -1vh;
}

.submit {
    position: relative;
    left: -30vh;
    width: 15vw;
    background-color: Transparent;
  
    opacity: 0;
}